@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "EditService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("EditService", "Service", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3>Hizmet Düzenleme Sayfası</h3>
                <form class="forms-sample">
                    @Html.HiddenFor(x => x.ServiceID)
                    <br />
                    @Html.Label("Hizmet Başlığı")
                    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                    <br />
                    <label>Görsel Yolu</label>
                    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                    <br />
                    
                    <button class="btn btn-outline-success">Güncelle</button>
                    <a asp-action="Index" asp-controller="Service" class="btn btn-dark">İptal</a>
                </form>
            </div>
        </div>
    </div>
}

